/**
 * 
 * Type your custom styles
 *
 */

 .youplay-banner.youplay-banner-parallax.small.mt-80 {
    background-color: #080325;
 }

/* .mb-40 {
    background-color: #080325;
 }

 .row {
    background-color: #080325;
 }*/